In [43]:
import pandas as pd
import numpy as np

In [44]:
data=pd.read_csv('test.csv')
data.head()

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,3.0,2850.0,sqft,4200.00,sqft,98119,1175000.0
1,4,5.0,3040.0,sqft,5002.00,sqft,98106,1057500.0
2,3,1.0,1290.0,sqft,6048.00,sqft,98125,799000.0
3,3,2.0,2360.0,sqft,0.28,acre,98188,565000.0
4,3,3.5,1942.0,sqft,1603.00,sqft,98107,1187000.0

In [45]:
data.shape

(505, 8)

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beds            505 non-null    int64
 1   baths           505 non-null    float64
 2   size            505 non-null    float64
 3   size_units      505 non-null    object
 4   lot_size        428 non-null    float64
 5   lot_size_units  428 non-null    object
 6   zip_code        505 non-null    int64
 7   price           505 non-null    float64
dtypes: float64(4), int64(2), object(2)
memory usage: 31.7+ KB

In [47]:
for column in data.columns:
    print(data[column].value_counts())

beds
3    173
2    126
4    108
1     55
5     33
7      6
6      3
9      1
Name: count, dtype: int64
baths
2.0    140
1.0    110
2.5     96
3.0     52
1.5     40
3.5     36
4.0     11
5.0      8
4.5      5
6.0      3
5.5      2
7.0      1
6.5      1
Name: count, dtype: int64
size
2480.0    4
1290.0    4
1650.0    4
1550.0    4
900.0     4
         ..
4027.0    1
2430.0    1
1395.0    1
685.0     1
1057.0    1
Name: count, Length: 375, dtype: int64
size_units
sqft    505
Name: count, dtype: int64
lot_size
5000.00    14
4000.00    14
6000.00     8
1.00        6
0.25        5
           ..
4188.00     1
3605.00     1
4387.00     1
2226.00     1
4887.00     1
Name: count, Length: 314, dtype: int64
lot_size_units
sqft    369
acre     59
Name: count, dtype: int64
zip_code
98103    48
98115    39
98117    38
98122    29
98125    29
98199    25
98126    22
98144    21
98118    20
98102    19
98119    19
98107    17
98136    17
98178    16
98105    15
98106    15
98146    15
98121    14
98109    13
98108    13
98112    12
98133    12
98116    12
98177     8
98168     7
98101     5
98104     3
98188     1
98164     1
Name: count, dtype: int64
price
875000.0     8
700000.0     7
750000.0     7
900000.0     6
850000.0     6
            ..
950000.0     1
264000.0     1
624950.0     1
3105000.0    1
1057500.0    1
Name: count, Length: 322, dtype: int64

In [48]:
data.isna().sum()

beds               0
baths              0
size               0
size_units         0
lot_size          77
lot_size_units    77
zip_code           0
price              0
dtype: int64

In [49]:
data.drop(columns=['lot_size','lot_size_units'],inplace=True)

In [50]:
data.describe()

             beds       baths         size      zip_code         price
count  505.000000  505.000000   505.000000    505.000000  5.050000e+02
mean     2.954455    2.219802  1851.843564  98125.366337  9.795822e+05
std      1.214947    1.013404   922.556090     24.875054  6.084759e+05
min      1.000000    1.000000   376.000000  98101.000000  1.700000e+05
25%      2.000000    1.500000  1171.000000  98108.000000  6.199900e+05
50%      3.000000    2.000000  1690.000000  98118.000000  8.400000e+05
75%      4.000000    2.500000  2400.000000  98126.000000  1.155000e+06
max      9.000000    7.000000  6139.000000  98199.000000  6.250000e+06

In [51]:
data.head()

   beds  baths    size size_units  zip_code      price
0     3    3.0  2850.0       sqft     98119  1175000.0
1     4    5.0  3040.0       sqft     98106  1057500.0
2     3    1.0  1290.0       sqft     98125   799000.0
3     3    2.0  2360.0       sqft     98188   565000.0
4     3    3.5  1942.0       sqft     98107  1187000.0

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   beds        505 non-null    int64
 1   baths       505 non-null    float64
 2   size        505 non-null    float64
 3   size_units  505 non-null    object
 4   zip_code    505 non-null    int64
 5   price       505 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 23.8+ KB

In [53]:
data.head()

   beds  baths    size size_units  zip_code      price
0     3    3.0  2850.0       sqft     98119  1175000.0
1     4    5.0  3040.0       sqft     98106  1057500.0
2     3    1.0  1290.0       sqft     98125   799000.0
3     3    2.0  2360.0       sqft     98188   565000.0
4     3    3.5  1942.0       sqft     98107  1187000.0

In [54]:
data['price_per_sqft']=data['price']*100000/data['size']

In [55]:
data['price_per_sqft']

0      4.122807e+07
1      3.478618e+07
2      6.193798e+07
3      2.394068e+07
4      6.112255e+07
           ...
500    6.810036e+07
501    4.136691e+07
502    1.052542e+08
503    6.003322e+07
504    6.879324e+07
Name: price_per_sqft, Length: 505, dtype: float64

In [56]:
data.describe()

,beds,baths,size,zip_code,price,price_per_sqft
count,505.000000,505.000000,505.000000,505.000000,5.050000e+02,5.050000e+02
mean,2.954455,2.219802,1851.843564,98125.366337,9.795822e+05,5.556682e+07
std,1.214947,1.013404,922.556090,24.875054,6.084759e+05,2.363002e+07
min,1.000000,1.000000,376.000000,98101.000000,1.700000e+05,1.655538e+07
25%,2.000000,1.500000,1171.000000,98108.000000,6.199900e+05,4.212454e+07
50%,3.000000,2.000000,1690.000000,98118.000000,8.400000e+05,5.300752e+07
75%,4.000000,2.500000,2400.000000,98126.000000,1.155000e+06,6.570881e+07
max,9.000000,7.000000,6139.000000,98199.000000,6.250000e+06,2.659574e+08

In [57]:
data.shape

(505, 7)

In [58]:
data

     beds  baths    size size_units  zip_code      price  price_per_sqft
0       3    3.0  2850.0       sqft     98119  1175000.0    4.122807e+07
1       4    5.0  3040.0       sqft     98106  1057500.0    3.478618e+07
2       3    1.0  1290.0       sqft     98125   799000.0    6.193798e+07
3       3    2.0  2360.0       sqft     98188   565000.0    2.394068e+07
4       3    3.5  1942.0       sqft     98107  1187000.0    6.112255e+07
..    ...    ...     ...        ...       ...        ...             ...
500     5    4.5  5580.0       sqft     98146  3800000.0    6.810036e+07
501     3    2.5  1390.0       sqft     98126   575000.0    4.136691e+07
502     3    2.5  2950.0       sqft     98118  3105000.0    1.052542e+08
503     5    5.0  3010.0       sqft     98115  1807000.0    6.003322e+07
504     3    2.0  1301.0       sqft     98103   895000.0    6.879324e+07

[505 rows x 7 columns]

In [59]:
data.drop(columns=['size_units'],inplace=True)

In [60]:
data.drop(columns=['price_per_sqft'],inplace=True)

In [61]:
data

     beds  baths    size  zip_code      price
0       3    3.0  2850.0     98119  1175000.0
1       4    5.0  3040.0     98106  1057500.0
2       3    1.0  1290.0     98125   799000.0
3       3    2.0  2360.0     98188   565000.0
4       3    3.5  1942.0     98107  1187000.0
..    ...    ...     ...       ...        ...
500     5    4.5  5580.0     98146  3800000.0
501     3    2.5  1390.0     98126   575000.0
502     3    2.5  2950.0     98118  3105000.0
503     5    5.0  3010.0     98115  1807000.0
504     3    2.0  1301.0     98103   895000.0

[505 rows x 5 columns]

In [62]:
x=data.drop(columns=['price'])
y=data['price']

In [63]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

In [65]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [66]:
from sklearn import linear_model  # Import the linear_model module from sklearn

# Create a LinearRegression object
reg = linear_model.LinearRegression()

# Assuming x and y are already defined as your data
# Fit the model to the data
reg.fit(x_train, y_train)

LinearRegression()

In [67]:
reg.coef_

array([-140821.23681063,  134329.89753092,     530.41779444,
          -837.64254753])

In [68]:
data

     beds  baths    size  zip_code      price
0       3    3.0  2850.0     98119  1175000.0
1       4    5.0  3040.0     98106  1057500.0
2       3    1.0  1290.0     98125   799000.0
3       3    2.0  2360.0     98188   565000.0
4       3    3.5  1942.0     98107  1187000.0
..    ...    ...     ...       ...        ...
500     5    4.5  5580.0     98146  3800000.0
501     3    2.5  1390.0     98126   575000.0
502     3    2.5  2950.0     98118  3105000.0
503     5    5.0  3010.0     98115  1807000.0
504     3    2.0  1301.0     98103   895000.0

[505 rows x 5 columns]

In [69]:
reg.intercept_

np.float64(82314158.15401788)

In [71]:
(-140821.23681063*5)+(134329.89753092*4.5 )+ (530.41779444*5580.0)+ (-837.64254753*98146) +(82314158.15401788)

2963002.331949696